.parent{
    margin: 100px 0;
    position: relative;
}

.cardInfo{
    height: 500px 
}
.cardInfo img{
    height: 100%;
    width: auto;
}
.card-text{
    display: none;

}
.cardInfo:hover .card-text{
    display: block;
    position: absolute;
    width: 100% ;
    top :50;
    height: 100%;
    overflow: hidden;
    align-items: center;
    bottom: 100px;
    margin-left: 50px;
}